@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Aluno @ViewData["aluno"]</p>

<address>
    <strong>More Information:</strong><a href="https://www.linkedin.com/in/william-corr%C3%AAa-pican%C3%A7o-junior-3b202184/">William Corrêa Picanço Junior</a>  
</address>